<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idroi.marketsense">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round_3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        android:screenOrientation="portrait"
        android:name=".App">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StockActivity"
            android:label="@string/activity_stock_name">
            <intent-filter android:label="@string/activity_stock_name_filter_deep_link">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="marketsense"
                    android:host="open.marketsense.app"
                    android:pathPrefix="/stock/code/" />
            </intent-filter>
        </activity>

        <activity android:name=".NewsWebViewActivity"
            android:label="@string/activity_news_web_name">
        </activity>

        <activity android:name=".WebViewActivity"
            android:label="@string/activity_news_web_name">
        </activity>

        <activity android:name=".NotificationActivity"
            android:label="@string/activity_news_notification">
        </activity>

        <activity android:name=".SettingActivity"
            android:label="@string/activity_news_setting">
        </activity>

        <activity android:name=".SearchAndResponseDeprecatedActivity"
            android:label="@string/activity_news_search">
        </activity>

        <activity android:name=".SearchAndResponseActivity"
            android:label="@string/activity_news_search">
        </activity>

        <activity android:name=".RichEditorActivity"
            android:label="@string/activity_rich_editor">
        </activity>

        <activity android:name=".CommentActivity"
            android:label="@string/activity_comment">
        </activity>

        <activity android:name=".StockKnowledgeListActivity"
            android:label="@string/activity_knowledge_list">
        </activity>

        <activity android:name=".KnowledgeActivity"
            android:label="@string/activity_knowledge">
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name=".datasource.MarketSenseFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".datasource.MarketSenseFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Used for Google Play Store Campaign Measurement-->
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true"
            android:exported="false" />


        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_logo" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <meta-data android:name="firebase_crash_collection_enabled" android:value="false" />

    </application>

</manifest>